[submodule "externals/AndroCtrl.Protocols.AndroidDebugBridge"]
	path = externals/AndroCtrl.Protocols.AndroidDebugBridge
	url = https://github.com/SAPTeamDEV/AndroCtrl.Protocols.AndroidDebugBridge.git
[submodule "externals/CommonTK"]
	path = externals/CommonTK
	url = https://github.com/SAPTeamDEV/CommonTK.git
